@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap");

body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #fafafa;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input, button {
    margin: 5px;
    font-family: 'Segoe UI', sans-serif;
  }
  
  #output a {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  .image-item {
    border: 1px solid #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
}
  .image-item img {
    margin: 1rem;
    box-sizing: border-box;
  }
//   button{
//     background-color: #121212;
//     color: #FAFAFA;
//     border: none;
//     padding: 0.8rem;
//     font-family: 'Segoe UI', sans-serif;
//     border-radius: 50px;
//     font-weight: 500;
//     cursor: pointer;

// }
  input[type="file"] {
    display: none;
  }

  #image-list {
    margin-top: 2rem;
  }
  #process-all {
    background-color: #5d44cd;
  }
  h1{
    font-family:'Space Mono', Courier, monospace
  }
  input{
    width: auto; /* Domyślne zachowanie */
    min-width: 50px; /* Minimalna szerokość */
    max-width: 100%; /* Maksymalna szerokość */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
  }
  button {
    margin: 0;
	padding: .5rem .75rem;
	max-width: 100%;
	border: 0;
	border-radius: .25rem;
	font: inherit;
	line-height: 1.125;
	cursor: pointer;
  }
  .custom-file-input {
    cursor: pointer;
  }
  #process-all {
    color: white;
  }

  input[type="checkbox"] {
    accent-color: #5d44cd;
    }
    ::selection {
      color: white;
      background: #5d44cd;
    }